#############################################################################
##
## Copyright (C) 2015 The Qt Company Ltd.
## Contact: http://www.qt.io/licensing/
##
## This file is part of the Quality Assurance module of the Qt Toolkit.
##
## $QT_BEGIN_LICENSE:LGPL21$
## Commercial License Usage
## Licensees holding valid commercial Qt licenses may use this file in
## accordance with the commercial license agreement provided with the
## Software or, alternatively, in accordance with the terms contained in
## a written agreement between you and The Qt Company. For licensing terms
## and conditions see http://www.qt.io/terms-conditions. For further
## information use the contact form at http://www.qt.io/contact-us.
##
## GNU Lesser General Public License Usage
## Alternatively, this file may be used under the terms of the GNU Lesser
## General Public License version 2.1 or version 3 as published by the Free
## Software Foundation and appearing in the file LICENSE.LGPLv21 and
## LICENSE.LGPLv3 included in the packaging of this file. Please review the
## following information to ensure the GNU Lesser General Public License
## requirements will be met: https://www.gnu.org/licenses/lgpl.html and
## http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html.
##
## As a special exception, The Qt Company gives you certain additional
## rights. These rights are described in The Qt Company LGPL Exception
## version 1.1, included in the file LGPL_EXCEPTION.txt in this package.
##
## $QT_END_LICENSE$
##
#############################################################################

# Qt Metrics configuration
# @since     09-07-2015
# @author    Juha Sippola

# Turn on the rewriting engine
RewriteEngine On

# Set security headers
<IfModule mod_headers.c>
    # Apply Content Security Policy
    Header set Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; img-src *"
    # Provide protection against MIME type confusion attacks
    Header set X-Content-Type-Options "nosniff"
    # Provide protection against clickjacking
    Header set X-Frame-Options "SAMEORIGIN"
    # Provide protection against Cross-Site Scripting
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Compress all output labeled with one of the following media types
<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE \
            "application/javascript" \
            "application/json" \
            "application/xml" \
            "text/css" \
            "text/html" \
            "text/javascript" \
            "text/plain" \
            "text/xml"
    </IfModule>
</IfModule>

# If the requested file does not exist, show link to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
