<?xml version="1.0" encoding="utf-8"?>
<VCPlatformConfigurationFile Version="8.00">
    <Platform Name="VCProjectWCEPlatform.dll" Identifier="{48443B3B-C1E3-449F-9988-4BFB510951D5}">
        <Directories Include="$(VCInstallDir)ce\include;$(VSInstallDir)SmartDevices\SDK\PocketPC2003\include;$(VCInstallDir)ce\atlmfc\include;$(VSInstallDir)SmartDevices\SDK\SQL Server\Mobile\v3.0;" Library="$(VSInstallDir)SmartDevices\SDK\PocketPC2003\lib\ARMV4;$(VCInstallDir)ce\atlmfc\lib\ARMV4;$(VCInstallDir)ce\lib\ARMV4;" Path="$(VCInstallDir)ce\bin\x86_arm;$(VCInstallDir)bin;$(WindowsSdkDir)\bin;$(VSInstallDir)Common7\Tools;$(VSInstallDir)Common7\IDE;$(VSInstallDir)Common\Tools;$(VSInstallDir)Common\IDE;$(VSInstallDir);$(FrameworkSDKDir)Bin;$(PATH);" Reference="" Source="$(VCInstallDir)ce\atlmfc\src\atl\;$(VCInstallDir)ce\atlmfc\src\mfc\;$(VCInstallDir)ce\crt\src\"/>
        <PlatformData>
            <PlatformName>Pocket PC 2003 (ARMV4)</PlatformName>
            <SupportsDCOM>0</SupportsDCOM>
            <OSMajorVersion>4</OSMajorVersion>
            <OSMinorVersion>20</OSMinorVersion>
            <UISymbol>POCKETPC2003_UI_MODEL</UISymbol>
            <Macros>
                <Macro Name="PLATFORMDEFINES" Value="WIN32_PLATFORM_PSPC"/>
                <Macro Name="CEVER" Value="0x420"/>
                <Macro Name="ARCHFAM" Value="ARM"/>
                <Macro Name="_ARCHFAM_" Value="_ARM_"/>
                <Macro Name="INSTRUCTIONSET" Value="ARMV4"/>
                <Macro Name="BINDIR" Value="$(VCInstallDir)ce\dll"/>
            </Macros>
        </PlatformData>
    </Platform>
    <Platform Name="VCProjectWCEPlatform.dll" Identifier="{5A673B91-A6DC-431D-8758-A53AA4189057}">
        <Directories Include="$(VCInstallDir)ce\include;$(VSInstallDir)SmartDevices\SDK\SmartPhone2003\include;$(VCInstallDir)ce\atlmfc\include;$(VSInstallDir)SmartDevices\SDK\SQL Server\Mobile\v3.0;" Library="$(VSInstallDir)SmartDevices\SDK\SmartPhone2003\lib\ARMV4;$(VCInstallDir)ce\atlmfc\lib\ARMV4;$(VCInstallDir)ce\lib\ARMV4;" Path="$(VCInstallDir)ce\bin\x86_arm;$(VCInstallDir)bin;$(WindowsSdkDir)\bin;$(VSInstallDir)Common7\Tools;$(VSInstallDir)Common7\IDE;$(VSInstallDir)Common\Tools;$(VSInstallDir)Common\IDE;$(VSInstallDir);$(FrameworkSDKDir)Bin;$(PATH);" Reference="" Source="$(VCInstallDir)ce\atlmfc\src\atl\;$(VCInstallDir)ce\atlmfc\src\mfc\;$(VCInstallDir)ce\crt\src\"/>
        <PlatformData>
            <PlatformName>Smartphone 2003 (ARMV4)</PlatformName>
            <SupportsDCOM>0</SupportsDCOM>
            <OSMajorVersion>4</OSMajorVersion>
            <OSMinorVersion>20</OSMinorVersion>
            <UISymbol>SMARTPHONE2003_UI_MODEL</UISymbol>
            <Macros>
                <Macro Name="PLATFORMDEFINES" Value="WIN32_PLATFORM_WFSP"/>
                <Macro Name="CEVER" Value="0x420"/>
                <Macro Name="ARCHFAM" Value="ARM"/>
                <Macro Name="_ARCHFAM_" Value="_ARM_"/>
                <Macro Name="INSTRUCTIONSET" Value="ARMV4"/>
                <Macro Name="BINDIR" Value="$(VCInstallDir)ce\dll"/>
            </Macros>
        </PlatformData>
    </Platform>
    <Platform Name="VCProjectWCEPlatform.dll" Identifier="{3F446A0C-0790-4B63-AF32-CE1A8AE00F2D}">
        <Directories Include="$(VCInstallDir)ce\include;C:\Program Files\Windows Mobile 5.0 SDK R2\PocketPC\include\ARMV4I;C:\Program Files\Windows Mobile 5.0 SDK R2\PocketPC\include;$(VCInstallDir)ce\atlmfc\include;$(VSInstallDir)SmartDevices\SDK\SQL Server\Mobile\v3.0"             Library="C:\Program Files\Windows Mobile 5.0 SDK R2\PocketPC\lib\ARMV4I;$(VCInstallDir)ce\atlmfc\lib\ARMV4I;$(VCInstallDir)ce\lib\ARMV4I;" Path="$(VCInstallDir)\ce\bin\x86_arm;$(VCInstallDir)bin;$(WindowsSdkDir)\bin;$(VSInstallDir)Common7\Tools;$(VSInstallDir)Common7\IDE;$(VSInstallDir)Common\Tools;$(VSInstallDir)Common\IDE;$(VSInstallDir);$(FrameworkSDKDir)Bin;$(PATH);" Reference="" Source=";$(VCInstallDir)ce\atlmfc\src\atl;$(VCInstallDir)ce\atlmfc\src\mfc;;$(VCInstallDir)ce\crt\src"/>
        <PlatformData>
            <PlatformName>Windows Mobile 5.0 Pocket PC SDK (ARMV4I)</PlatformName>
            <SDKID>{4118C335-430C-497f-BE48-11C3316B135E}</SDKID>
            <SupportsDCOM>0</SupportsDCOM>
            <OSMajorVersion>5</OSMajorVersion>
            <OSMinorVersion>01</OSMinorVersion>
            <UISymbol>POCKETPC2003_UI_MODEL</UISymbol>
            <Macros>
                <Macro Name="PLATFORMDEFINES" Value="WIN32_PLATFORM_PSPC"/>
                <Macro Name="CEVER" Value="0x501"/>
                <Macro Name="ARCHFAM" Value="ARM"/>
                <Macro Name="_ARCHFAM_" Value="_ARM_"/>
                <Macro Name="INSTRUCTIONSET" Value="ARMV4I"/>
                <Macro Name="BINDIR" Value="$(VCInstallDir)ce\dll"/>
            </Macros>
        </PlatformData>
    </Platform>
    <Platform Name="VCProjectWCEPlatform.dll" Identifier="{EE4C5B59-5EB0-40E4-9562-D7F5BF300E00}">
        <Directories Include="$(VCInstallDir)ce\include;C:\Program Files\Windows Mobile 5.0 SDK R2\Smartphone\include\ARMV4I;C:\Program Files\Windows Mobile 5.0 SDK R2\Smartphone\include;$(VCInstallDir)ce\atlmfc\include;$(VSInstallDir)SmartDevices\SDK\SQL Server\Mobile\v3.0" Library="C:\Program Files\Windows Mobile 5.0 SDK R2\Smartphone\lib\ARMV4I;$(VCInstallDir)ce\atlmfc\lib\ARMV4I;$(VCInstallDir)ce\lib\ARMV4I;" Path="$(VCInstallDir)\ce\bin\x86_arm;$(VCInstallDir)bin;$(WindowsSdkDir)\bin;$(VSInstallDir)Common7\Tools;$(VSInstallDir)Common7\IDE;$(VSInstallDir)Common\Tools;$(VSInstallDir)Common\IDE;$(VSInstallDir);$(FrameworkSDKDir)Bin;$(PATH);" Reference="" Source=";$(VCInstallDir)ce\atlmfc\src\atl;$(VCInstallDir)ce\atlmfc\src\mfc;;$(VCInstallDir)ce\crt\src"/>
        <PlatformData>
            <PlatformName>Windows Mobile 5.0 Smartphone SDK (ARMV4I)</PlatformName>
            <SDKID>{BD0CC567-F6FD-4ca3-99D2-063EFDFC0A39}</SDKID>
            <SupportsDCOM>0</SupportsDCOM>
            <OSMajorVersion>5</OSMajorVersion>
            <OSMinorVersion>01</OSMinorVersion>
            <UISymbol>SMARTPHONE2003_UI_MODEL</UISymbol>
            <Macros>
                <Macro Name="PLATFORMDEFINES" Value="WIN32_PLATFORM_WFSP"/>
                <Macro Name="CEVER" Value="0x501"/>
                <Macro Name="ARCHFAM" Value="ARM"/>
                <Macro Name="_ARCHFAM_" Value="_ARM_"/>
                <Macro Name="INSTRUCTIONSET" Value="ARMV4I"/>
                <Macro Name="BINDIR" Value="$(VCInstallDir)ce\dll"/>
            </Macros>
        </PlatformData>
    </Platform>
    <Platform Name="VCProjectWCEPlatform.dll" Identifier="{1BDF7083-AFFE-42C8-8E24-3B22DC4F659B}">
        <Directories Include="$(VCInstallDir)ce\include;C:\Program Files\Microsoft Platform Builder\7.00\cepb\ideVS\GenericSdk\include\_TGTCPU;C:\Program Files\Microsoft Platform Builder\7.00\cepb\ideVS\GenericSdk\include;$(VCInstallDir)ce\atlmfc\include;$(VSInstallDir)SmartDevices\SDK\SQL Server\Mobile\v3.0" Library="C:\Program Files\Microsoft Platform Builder\7.00\cepb\ideVS\GenericSdk\lib\_TGTCPU;$(VCInstallDir)ce\atlmfc\lib\_TGTCPU;$(VCInstallDir)ce\lib\_TGTCPU;" Path="$(VCInstallDir)\ce\bin\x86_cex86;$(VCInstallDir)bin;$(WindowsSdkDir)\bin;$(VSInstallDir)Common7\Tools;$(VSInstallDir)Common7\IDE;$(VSInstallDir)Common\Tools;$(VSInstallDir)Common\IDE;$(VSInstallDir);$(FrameworkSDKDir)Bin;$(PATH);" Reference="" Source=";$(VCInstallDir)ce\atlmfc\src\atl;$(VCInstallDir)ce\atlmfc\src\mfc;;$(VCInstallDir)ce\crt\src"/>
        <PlatformData>
            <PlatformName>Platform Builder (_TGTCPU)</PlatformName>
            <SDKID>{24BDD3BF-3786-4293-ACB0-81D76B56437D}</SDKID>
            <SupportsDCOM>0</SupportsDCOM>
            <OSMajorVersion>7</OSMajorVersion>
            <OSMinorVersion>00</OSMinorVersion>
            <UISymbol>STANDARDSHELL_UI_MODEL</UISymbol>
            <Macros>
                <Macro Name="CEVER" Value="0x700"/>
                <Macro Name="ARCHFAM" Value="x86"/>
                <Macro Name="_ARCHFAM_" Value="_X86_"/>
                <Macro Name="INSTRUCTIONSET" Value="_TGTCPU"/>
                <Macro Name="BINDIR" Value="$(VCInstallDir)ce\dll"/>
            </Macros>
        </PlatformData>
    </Platform>
    <Platform Name="VCProjectWCEPlatform.dll" Identifier="{C04AF6EF-DE33-4C85-869A-FCA5BE735032}">
        <Directories
            Include="$(VCInstallDir)ce\include;C:\Program Files\Windows CE Tools\SDKs\BeagleBoard-xM - WEC7\include\ARMv4I;C:\Program Files\Windows CE Tools\SDKs\BeagleBoard-xM - WEC7\include;$(VCInstallDir)ce\atlmfc\include;$(VSInstallDir)SmartDevices\SDK\SQL Server\Mobile\v3.0;C:\utils\wince_powervr_sdk\wince_gfx_sgx_02_00_00\PowerVR-SDK\OGLES2\Builds\OGLES2\Include" Library="C:\Program Files\Windows CE Tools\SDKs\BeagleBoard-xM - WEC7\lib\ARMv4I;$(VCInstallDir)ce\atlmfc\lib\ARMv4I;$(VCInstallDir)ce\lib\ARMv4I;C:\utils\wince_powervr_sdk\wince_gfx_sgx_02_00_00\PowerVR-SDK\OGLES2\Builds\OGLES2\WindowsCE7ARMV7\Lib;"        Path="$(VCInstallDir)\ce\bin\x86_arm;$(VCInstallDir)bin;$(WindowsSdkDir)\bin;$(VSInstallDir)Common7\Tools;$(VSInstallDir)Common7\IDE;$(VSInstallDir)Common\Tools;$(VSInstallDir)Common\IDE;$(VSInstallDir);$(FrameworkSDKDir)Bin;$(PATH);" Reference="" Source=";$(VCInstallDir)ce\atlmfc\src\atl;$(VCInstallDir)ce\atlmfc\src\mfc;;$(VCInstallDir)ce\crt\src"/>
        <PlatformData>
            <PlatformName>WEC7_SDK_NAME (ARMv4I)</PlatformName>
            <SDKID>{6f9786b5-3b0c-4dd8-a613-bc3b18979290}</SDKID>
            <SupportsDCOM>0</SupportsDCOM>
            <OSMajorVersion>7</OSMajorVersion>
            <OSMinorVersion>00</OSMinorVersion>
            <UISymbol>STANDARDSHELL_UI_MODEL</UISymbol>
            <Macros>
                <Macro Name="PLATFORMDEFINES" Value=""/>
                <Macro Name="CEVER" Value="0x700"/>
                <Macro Name="ARCHFAM" Value="ARM"/>
                <Macro Name="_ARCHFAM_" Value="_ARM_"/>
                <Macro Name="INSTRUCTIONSET" Value="ARMv4I"/>
                <Macro Name="BINDIR" Value="$(VCInstallDir)ce\dll"/>
            </Macros>
        </PlatformData>
    </Platform>
</VCPlatformConfigurationFile>
