# Source: git://code.qt.io/qtqa/sysadmin
Options +Indexes
IndexOptions +FancyIndexing
IndexStyleSheet /css/qt.css
HeaderName /include/ci-fancy-index-header.html
ReadmeName /include/ci-fancy-index-footer.html

<FilesMatch "\.txt\.gz$">
    # There is no point to double-gzipping already-gzipped files.
    # Just serve them up directly as type text/plain, encoding gzip.
    # That will allow them to be viewed directly in most browsers.
    SetEnv no-gzip 1
    AddType text/plain .gz
    AddEncoding gzip .gz
    AddCharset utf-8 .gz
</FilesMatch>

<FilesMatch "\.json\.gz$">
    # Same applies for gzipped json, but it's a different mime type.
    SetEnv no-gzip 1
    AddType application/json .gz
    AddEncoding gzip .gz
    AddCharset utf-8 .gz
</FilesMatch>
